h1 {
    color: white;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

a {
    text-align: center;
    color: white;
    text-decoration: none;
    
}

p {
    text-align: center;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

img {
    display: block;
    margin: 0px auto;  
    width: 250px; 
}

iframe {
    display: block;
    margin: 0px auto;
}

body {
    background-color:rgb(41, 40, 40);
}