@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #008F8C,#015958);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}

